# ui
github "SVProgressHUD/SVProgressHUD"

# network
github "ikesyo/Himotoki"
github "ishkawa/APIKit"

# utility
github "kishikawakatsumi/KeychainAccess"
github "malcommac/SwiftDate"

# logging
github "CocoaLumberjack/CocoaLumberjack"
